.hotel {
    padding: 23px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    font-family: "Mulish";
    color: $clr-text-black;
}

.hotel-stars {
    display: flex;

    .stars {
        padding-right: 2px;
    }
}

.brief-name {
    width: 100%;
}

.hotel-name-offer {
    display: flex;
    margin-top: 6px;
    width: 100%;

    .main-title {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
    }

    .hotel-name {
        font-size: 24px;
        font-weight: 700;
    }

    .offer-icon {
        height: 14px;
        margin-left: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: $clr-pinky;
        border-radius: 4px;
        padding: 4px 9px;

        span {
            color: white;
            font-size: 10px;
            font-weight: 600;
        }
    }
}

.hotel-services {
    font-size: 12px;
}

.total-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $clr-pinky;
    color: #fff;

    border-radius: 4px;
    padding: 7px 8px;
    margin-left: auto;

    &__text-title {
        font-size: 8px;
        font-weight: 600;
        padding-bottom: 3px;
    }

    &__rating-indicator {
        font-size: 14px;
        font-weight: 700;
    }
}

.hotel-overview {
    display: flex;
    justify-content: space-between;
    font-family: "Nunito";
    padding-bottom: 70px;

    &__slider {
        height: 450px;
        max-width: 100%; // Слайдер занимает всю доступную ширину
        width: 730px; // Ограничение ширины для больших экранов
        position: relative;

        .photo-slider {
            height: 100%;
            width: 100%;
            border-radius: 30px;
            object-fit: cover;
        }

        //Stylize arrows
        .leaf-slides {
            position: absolute;
            z-index: 55;
            background-color: transparent;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .leaf-slides svg {
            height: 50px;
            width: 50px;
            fill: #f00606;
            transition: 0.3s;

            &:hover {
                transform: scale(1.5);
            }
        }

        .swiper__button-left {
            left: 0px;

        }

        .swiper__button-right {
            right: 0px;
        }
    }
}



.column-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-overview__booking {
    padding: 25px;
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    background-color: $clr-dark-blue;
    color: #fff;

    .discr-booking {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .price-block {
            span {
                display: block;
            }
        }

        .parameters-block {
            span {
                display: block;
            }
        }

        .minitext {
            font-size: 12px;

            &:first-of-type {
                padding-bottom: 8px;
            }
        }

        .price {
            font-size: 24px;
            font-weight: 900;
        }
    }

    .discr-callhotel {
        padding-top: 9px;
        display: flex;
        justify-content: space-between;

        .callhotel {
            display: block;
            font-size: 18px;
            font-weight: 600;
        }
    }

    .full-options-button {
        margin-top: 20px;
        padding: 13px 0;
        width: 100%;
        background-color: $clr-pinky;
        color: #fff;
        border-radius: 4px;
    }
}

.hotel-overview__minimap {
    .minimap-image {
        height: 100%;
    }
}