.reviews {
    margin: 0 auto;
    padding-top: 40px;
    background-color: $clr-grey;
    font-family: "Mulish";

    .fake-shell {
        position: relative;

        .reviews__arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 5;
            background-color: #fd010100;
            outline: none;
            transition: transform 0.5s ease;

            &--left {
                left: -30px;
            }

            &--right {
                right: -30px;
            }

            &:hover {
                transform: scale(1.5) translateY(-50%);
                cursor: pointer;
            }
        }
    }

    .reviews__title {
        padding-bottom: 115px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        font-size: 36px;
    }

    .reviews-swipercontainer {
        position: relative;

        //buutin

        .reviews-wrappercontainer {
            position: relative;

            .reviews__slider {
                position: relative;
                margin-top: 50px;

                .reviews__profile-card {
                    margin: 0 auto;
                    width: 100px;
                    position: absolute;
                    top: -45px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 5;

                    .profile-card__avatar {
                        width: 100%;
                        height: 100%;
                    }

                    .profile-card__username {
                        display: flex;
                        justify-content: center;
                        padding-top: 10px;

                        span {
                            color: $clr-pinky;
                            font-size: 14px;
                            font-weight: 700;
                        }
                    }

                    .profile-card__date {
                        display: flex;
                        justify-content: center;
                        padding-top: 10px;

                        span {
                            font-size: 10px;
                        }
                    }

                    .profile-card__stars {
                        padding-top: 5px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;

                        .profile-card__star {
                            margin-right: 2px;
                            height: 10px;

                            &:last-of-type {
                                margin-right: 0px;
                            }
                        }
                    }
                }

                .reviews__text {
                    padding: 136px 0px 30px;
                    margin-bottom: 70px;
                    width: 100%;

                    background-color: #ffffff;
                    border-radius: 8px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        padding-right: 10px;
                        height: 100px;
                        overflow-y: scroll;
                        width: 80%;
                        /* Ограничение ширины параграфа */
                        text-align: justify;
                        /* Выравнивание текста по ширине */
                    }
                }
            }
        }
    }
}